Django==1.5.4
South==0.8.2
arrow==0.3.5
django-authtools==0.2.1
django-braces==1.2.2
django-crispy-forms==1.4.0
django-floppyforms==1.1
django-model-utils==1.5.0
misaka==1.0.2
oauthlib==0.6.0
psycopg2==2.5.1
python-dateutil==2.1
python-openid==2.2.5
requests==2.0.0
requests-oauthlib==0.3.3
six==1.4.1
wheel==0.22.0
wsgiref==0.1.2
