<!DOCTYPE html>
<html lang="en">
<head>
    <title>Headcount.io</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet/less" type="text/css" title="Default style" href="/static/less/style.less">
    <script src="/static/js/less.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="/static/img/logo.png">
            {% if user.is_authenticated %}
                <p><a href="{% url 'events:dashboard' %}">Dashboard</a></p>
                <p><a href="{% url 'events:create' %}">Create an event</a></p>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissable alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>
