{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block scripts %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <h1>Want to track RSVPs for an event you're running?</h1>
    <h2>Get started here:</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% crispy wizard.form %}

        <div class="form-actions">
            {% if wizard.steps.prev %}
                <div class="col-md-6 col-xs-12">
                    <button name="wizard_goto_step" type="submit" class="btn btn-large btn-block" value="{{ wizard.steps.prev }}">Back</button>
                </div>
                <div class="col-md-6 col-xs-12">
            {% endif %}
            <input type="submit" value="Save" class="btn btn-primary btn-large btn-block">
            {% if wizard.steps.prev %}</div>{% endif %}
        </div>
    </form>
{% endblock %}

{% block end_body_js %}
<script>
    $('#id_0-start_0, #id_0-end_0').pickadate({
        format: 'mm/dd/yyyy'
    });
    $('#id_0-start_1, #id_0-end_1').pickatime({
        format: 'h:i A',
        interval: 15,
        onOpen: function() {
            if (!this.get('value')) {
                this.set('highlight', [12, 0]);
            }
        }
    });
</script>
{% endblock %}
