<div class="the-rsvp">
    <span class="response yes">Y</span>
    {% if rsvp.user.name %}
        <span title="{{ rsvp.user.email }}">{{ rsvp.user.name }}</span>
    {% else %}
        {{ rsvp.user.email }}
    {% endif %}
    {% if rsvp.num_guests and rsvp.response != 'no' %}
        <span class="guests"> + {{ rsvp.num_guests }}</span>
    {% endif %}
    {% if rsvp.notes %}
        &nbsp;
        <a href="{% url 'events:detail' event.shortid %}#rsvp-{{ rsvp.pk }}"><span class="notes glyphicon glyphicon-envelope" title='"{{ rsvp.notes }}"'></span></a>
    {% endif %}
</div>