<table class="table rsvp-table">
    <thead>
        <tr>
            <th>RSVP</th>
            <th></th>
            <th></th>
            <th>Guests</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for rsvp in event.rsvps.yes %}
            {% include 'events/_rsvp_table_row.html' %}
        {% endfor %}
        {% for rsvp in event.rsvps.maybe %}
            {% include 'events/_rsvp_table_row.html' %}
        {% endfor %}
        {% for rsvp in event.rsvps.no %}
            {% include 'events/_rsvp_table_row.html' %}
        {% endfor %}
    </tbody>
</table>