{% extends "base.html" %}

{% block content %}
    <h2>Dashboard</h2>

    {% for event in object_list %}
        <article class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ event.title }}</h3>
                </div>
                <div class="panel-body">
                    <p>{{ event.venue_name }}</p>
                    <p>{{ event.start }} &ndash; {{ event.end }}</p>
                    <h4>RSVPs</h4>
                    <p><strong>Yes:</strong> {{ event.rsvps.coming|length }}</p>
                    <p><strong>No:</strong> {{ event.rsvps.not_coming|length }}</p>
                    <p><strong>Maybe:</strong> {{ event.rsvps.maybe|length }}</p>
                    <p><strong>Total:</strong> {{ event.rsvps.all|length }}/{{ event.max_attendees }}</p>
                </div>
                <div class="panel-footer">
                    <a href="{% url 'events:edit' event.shortid %}">Edit</a>
                    <a href="{% url 'events:delete' event.shortid %}" class="text-danger pull-right">Delete</a>
                </div>
            </div>
        </article>
    {% empty %}
        <p><strong>You don't have any events!</strong> <a href="{% url 'events:create' %}">Why not make one?</a></p>
    {% endfor %}
{% endblock %}
