{% extends "events/rsvp_form.html" %}

{% block edit_delete %}
<span class="edit-delete pull-right">
    <a href="{% url 'events:edit' event.shortid %}">Edit</a>
    <a href="{% url 'events:delete' event.shortid %}" class="text-danger">Delete</a>
</span>
{% endblock %}

{% block host %}you!{% endblock %}

{% block side_column %}
    {% if event.rsvps.all.count %}
        <h2>Guest list
            <span class="edit-delete pull-right"><a href="{% url 'events:email_rsvps' event.shortid %}" class="help">Email RSVPs</a> <a href="{% url 'events:detail_printable' event.shortid %}" class="help"><span class="glyphicon glyphicon-print"></span> Printable version</a></span>
        </h2>
        <form method="POST">
            {% csrf_token %}
            {% include 'events/_rsvp_table.html' %}
            <div class="form-actions">
                <input type="submit" class="btn btn-danger" value="Remove checked RSVPs">
            </div>
        </form>
    {% else %}
        <p>No RSVPs yet!</p>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/rsvp-details.js"></script>
{% endblock %}
