{% extends "base.html" %}

{% block content %}
    <h2>Are you sure you want to delete <strong>{{ object.title }}</strong>?</h2>
    {% if event.total_coming %}
        <p>We'll notify {{ event.rsvps.possible.count }} pe{{ event.rsvps.possible.count|pluralize:"rson,ople"}} that the event isn't happening.</p>
    {% else %}
        <p>No one has RSVP'd "yes", so we can just delete it like nothing happened.</p>
    {% endif %}

    <form class="deletion-form" method="POST">
        {% csrf_token %}
        <div class="form-actions">
            <a href="btn btn-large btn-link" href="{% url 'events:dashboard' %}">No, I changed my mind</a>&nbsp;
            <input type="submit" class="btn btn-large btn-danger" value="Yeah, get rid of it">
        </div>
    </form>
{% endblock %}
