{% extends "base.html" %}

{% block content %}
    <h2>Are you sure you want delete {{ object.title }}?</h2>
    {% if event.rsvps.coming or event.rsvps.maybe %}
        <p>We'll notify XXXXXX people that the event isn't happening.</p>
    {% else %}
        <p>No one has RSVP'd "yes", so we can just delete it like nothing happened.</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-actions">
            <a href="btn btn-link" href="{% url 'events:dashboard' %}">No, I changed my mind</a>
            <input type="submit" class="btn btn-danger" value="Yeah, get rid of it">
        </div>
    </form>
{% endblock %}
