{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block scripts %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="event-page">
    <div class="col-xs-12 col-md-12">
        <h1>{{ event.title }}</h1>
        <p class="hosted-by">Hosted by {{ event.host.name }}</p>
    </div>

    <div class="col-xs-12 col-md-6">
        <h3>Description</h3>
        {{ event.description_html|safe }}

        <h3>When</h3>
        <p>From <strong>{{ event.start }}</strong> <br>
        to <strong>{{ event.end }}</strong>.</p>

        <h3>Where</h3>
        <p>{{ event.location }}</p>

        <h3>More info</h3>
        <p>Currently attending: <strong>{{ event.total_coming }}{% if event.max_attendees %}/{{ event.max_attendees }}{% endif %}</strong></p>
        {% if event.max_guests = '0' %}
            <p id="max-0" class="max-guests">No additional guests, please.</p>
        {% elif event.max_guests > 0 %}
            <p id="max-{{ event.max_guests }}" class="max-guests">Max guests per attendee: <strong>{{ event.max_guests }}</strong></p>
        {% else %}
            <p id="max-none" class="max-guests"><strong>Feel free to invite as many people as you like!</strong></p>
        {% endif %}
        {% if event.cost %}
            <p>Cost: <strong>{{ event.cost }}</strong></p>
        {% endif %}
    </div>
</div>

{% if form %}
    <div class="rsvp-form col-xs-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">RSVP now!</h3>
            </div>
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
