#div_id_0-title {
    //width: 100%;
}

.dateinput, .timeinput {
    display: inline-block;
}

.dateinput {
    width: 110px;
    margin-right: 10px;
}

.timeinput {
    width: 90px;
}

.dateinput:after {
    height: 1em;
    width: 4em;
    content: " at ";
}