@font-size: 12pt;

@header-font: 'Raleway', 'Merriweather Sans', Arial, sans-serif;
@standard-font: 'Merriweather Sans', Arial, sans-serif;
@bg-color: #222;
@teal: #4dd2ff;
@fuchsia: #ff33a0;
@pink: #ffa9a9;
@yellow: #e0ff66;
@light-blue: #afb9ff;
@light-green: #acff99;

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.columns(@cols: 2) {
    -moz-column-count: @cols;
    -webkit-column-count: @cols;
    -ms-column-count: @cols;
    -o-column-count: @cols;
    column-count: @cols;
}

body {
    font-family: @standard-font;
    font-weight: 300;
    font-size: @font-size;
    background: @bg-color;
    color: white;
    line-height: 1.8em;
    margin: 0;
}

a {
    color: @teal;

    &:hover {
        color: @fuchsia;
        text-decoration: none;
    }
}

.help {
    font-size: .8em;
}

.lots-of-text {
    line-height: 1.5em;
    margin-bottom: 1.5em;
    p {
        margin-bottom: 1.5em;
    }
}

h1, h2, h3, h4, h5 {
    font-family: @header-font;
}

h1 {
    font-size: 4rem;
    font-weight: 100;

    &.splashy {
        color: @teal;
        font-weight: 700;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

.navbar {
    background: none;
    box-shadow: none;

    .navbar-brand {
        padding: 4px;
    }

    li a:hover {
        background: none;
    }

    .navbar-text {
        display: block;
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 15px;
        line-height: 20px;
    }
}

.nav .open a, .dropdown-menu {
    color: white;
    background: black;

    &:focus, &:active {
        color: white;
        background: black;
    }
}

.navbar-nav .open .dropdown-menu {
    background: black;

    li a:hover {
        background: #111;
    }
}

.dropdown:hover, .dropdown-toggle a:hover {
    background: #111;
}

.dropdown-toggle a:active {
    color: white;
    background: black;
}

.logo {   
    height: 40px;
}

.text-danger {
    color: @pink;
    &:hover {
        color: red;
    };
}

.alert {
    background-image: none;
    background: none;
    border: 2pt solid white;
    &.alert-success {
        color: @light-green;
        border-color: @light-green;
    }
    &.alert-info {
        color: @light-blue;
        border-color: @light-blue;
    }
    &.alert-warning {
        color: @yellow;
        border-color: @yellow;
    }
    &.alert-danger {
        color: @pink;
        border-color: red;
    }
}

.btn {
    background-image: none;
    background-color: #eee;
    color: @bg-color;
    &:hover {
        color: black;
        background-color: darken(#eee, 10%);
        border: 1pt solid darken(#eee, 20%);
    }

    &.btn-danger {
        background-color: @pink;
        &:hover {
            background-color: red;
            border: 1pt solid darken(red, 20%);
        };
    }

    &.btn-primary {
        background-color: @teal;
        border: 1pt solid darken(@teal, 20%);

        &:hover {
            background-color: @fuchsia;
            border: 1pt solid darken(@fuchsia, 20%);
        }
    }
}

.edit-delete {
    display: inline-block;
    padding-top: 4px;
    font-size: @font-size;
    font-weight: 300;
    font-family: @standard-font;

    a {
        margin-left: 15px;
    }
}

.panel {
    .border-radius(15px);
    background: lighten(@bg-color, 5%);
    border: 1pt solid black;

    .rsvp-url {
        font-size: @font-size;
    }

    .panel-heading, .panel-footer {
        background: black;
        color: white;
        border: none;
    }

    .panel-heading {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        h3 {
            font-size: 2.4rem;
        }
    }

    .panel-body {
        h4 {
            margin-top: 0;
            margin-bottom: 1em;
            span {
                font-weight: 300;
                &.yes {
                    color: @teal;
                }
                &.maybe {
                    color: @yellow;
                }
                &.no {
                    color: @fuchsia;
                }
                &.rsvp-count {
                    font-weight: 700;
                    font-size: 1.4em;
                }
            }
        }
        .event-info {
            text-align: right;
        }

        .rsvp-info {
            .rsvps {
                display: block;
                width: 100%;
                padding-bottom: 5px;
                .columns();
                .the-rsvp {
                    margin-bottom: 5px;
                    padding: 0 0 0 5px;
                    break-inside: avoid-column;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    column-break-inside: avoid;
                }
            }

            .response {
                .border-radius(15px);
                display: inline-block;
                width: 1.6em;
                height: 1.6em;
                text-align: center;
                color: lighten(@bg-color, 5%);
                font-weight: 700;

                &.yes {
                    background: @teal;
                }
                &.maybe {
                    background: @yellow;
                }
                &.no {
                    background: @fuchsia;
                }
            }

            .guests {
                font-weight: 700;
                font-style: italic;
            }
        }
    }

    .panel-footer {
        padding: 5px 15px;
    }
}

.event-page {
    h1 {
        margin-bottom: 10px;
    }
    .hosted-by {
        margin-top: 0;
    }
}

.rsvp-form {
    padding-bottom: 20px;
}

.rsvp-table {
    .highlight {
        background: lighten(@bg-color, 5%);
    }
    tbody .notes-all {
        > td {
            border-top: none;
        }
    }
}

.footer {
    margin-top: 20px;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            .help();
            display: inline-block;
            padding: 4px 15px 4px 0;
        }
    }
}

/*  *   *   *   *
Forms stylings
*   *   *   *   */

label {
    font-weight: 300;
}

textarea.form-control {
    height: 6em;
}

#home-page-form {
    margin-top: -30px;
}

.asteriskField {
    margin-left: 3px;
    color: @pink;
}

.dateinput, .timeinput {
    display: inline-block;
}

.dateinput {
    width: 110px;
    margin-right: 5px;
}

.timeinput {
    width: 90px;
}

.numberinput {
    width: 60px;
    &#id_0-max_attendees {
        width: 80px;
    }
}

.no-horizontal .control-label {
    text-align: left;
}

.row {
    margin-bottom: 2em;
}

#hint_id_description {
    .row();
}

.form-actions {
    margin-left: 66.666%;
    width: 33.333%;

    .btn-large {
        padding: 10px 0;
        font-size: 2rem;
    }
}

.deletion-form {
    .form-actions {
        margin-left: 33.333%;
        width: 66.666%;
        text-align: right;

        .btn-large {
            padding: 10px 20px;
            font-size: 2rem;
        }
    }
}

.help-block {
    .help();
    color: #aaa;
}

.rsvp-form {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .form-group {
        clear: both;
    }
}

.form-group .controls {
    padding-bottom: 10px;
}