@standard-font: 'Raleway', 'Merriweather Sans', Arial, sans-serif;
@bg-color: #222;
@teal: #4dd2ff;
@light-teal: #aaeaff;

body {
    font-family: @standard-font;
    font-weight: 400;
    font-size: 12pt;
    background: @bg-color;
    color: white;
    line-height: 1.8em;
}

a {
    color: @teal;

    &:hover {
        color: @light-teal;
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5 {
    font-family: @standard-font;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
}

.navbar {
    background: @bg-color;

    .navbar-brand {
        padding: 4px;
    }

    li a:hover {
        background: none;
        text-decoration: underline;
    }
}

.logo {   
    height: 40px;
}

.footer {
    margin-top: 20px;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            display: inline-block;
            padding: 4px 15px 4px 0;
        }
    }
}